/*global style reset*/
*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
/*home page*/

/*the navigation items*/
li {
    list-style: none;
    font-size: 1.5em;
    text-decoration: none;
    border: 3px solid black;
    padding:20px;
    color:black;
    border-radius: 10%;
}
li a{
    text-decoration: none;
    color:black;
}
li:hover{
    background-color: darkgreen;
}
/*the logo*/
.logo{
    width:200px;
    margin-left: 20px;
    grid-area: logo;
}
/*the css grid*/
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: "logo navigation navigation"
                            "banner banner banner";
}
/*the box for the navigation*/
ul{
    display:flex;
    grid-area: navigation;
    justify-content: space-around;
    margin-top: 20px;
}

/*The banner heading*/
.h1_nav{
    color:white;
    grid-area: banner;
    display:flex;
    background-color: darkgreen;
    justify-content: center;
    align-items: center;
}

/*
jackets page
*/

/*the jacket grid*/
.background-img{
    height:100vh;
    padding-left: 5%; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: "jacket1 jacket2 jacket3 jacket4"
                            "jacket5 jacket6 jacket7 ."; 
}
figcaption{
    margin-bottom: 60px;
    position:relative;
    left:120px;
    font-size: large;
}
.jacket1{
    width:300px;
    height:400px;
    grid-area: "jacket1";
}
.jacket2{
    width:300px;
    height:400px;
    grid-area: "jacket2";
}
.jacket3{
    width:300px;
    height:400px;
    grid-area: "jacket3";
}
.jacket4{
    width:300px;
    height:400px;
    grid-area: "jacket4";
}
.jacket5{
    width:300px;
    height:400px;
    grid-area: "jacket5";
}
.jacket6{
    width:300px;
    height:400px;
    grid-area: "jacket6";
}
.jacket7{
    width:300px;
    height:400px;
    grid-area: "jacket7";
}
/*Jacket1 page*/
section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "jacket1_section size_item"
                            "jacket1_section h1_section"
                            "jacket1_section paragraph_section"
                            "jacket_section button_section";
}

.jacket1_section{
    width:400px;
    height:450px;
    grid-area: jacket1_section;
    position:relative;
    left:100px;
    margin-top: 40px;
}
.paragraph_section{
    font-size: 32px;
    grid-area: paragraph_section;

}
.h1_section{
    font-size: 42px;
    grid-area: h1_section;
}
.button_section{
    font-size: 32px;
    background-color: orange;
    color:white;
    width:300px;
    height:100px;
    border-radius: 10%;
    grid-area: button_section;
    border:0px;
}
.size{
    display:flex;
    justify-content: space-evenly;
    width:50%;
    grid-area: size_item;
}
.size_item{
    margin-top: 20px;
    font-size: 32px;
    background-color: darkgreen;
    width:10%;
    padding:15px;
    height:30%;
    text-align: center;
    border-radius: 10%;
    color:white;
}
/* buy section*/

.jacket_buy{
    width:500px;
    height:600px;
    grid-area: jacket_buy;
}

.input_box{
    display:flex;
    flex-direction: column;
    width:30%;
    margin:30px;
    grid-area: input_box;
}

.buy_button{
    display:flex;
    background-color: orange;
    border:0px;
    font-size: 32px;
    width:300px;
    height:100px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

.buy_box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "input_box jacket_buy"
                            "input_button jacket_buy";
}

.input{
    border-radius: 1em;
    height:30px;
}

/*
buy sucess page
*/

.buy_success_paragraph{
    font-size: 32px;
    overflow-wrap: break-word;
    inline-size: 300px;
    margin-top: 50px;
    grid-area: buy_success_paragraph;
}
.boxed_in{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "buy_success_image buy_success_paragraph";

}
.buy_success_image{
    grid-area: buy_success_image;
    width:400px;
}
/* contact */

.paragraph_contact{
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
}
.paragraph_about{
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
}

/* index2 */
.probably{
    background: linear-gradient(rgba(0, 0, 0,0.1), rgba(0,0,0,0.7)), url(../images/hiking_front.jpg);
    height:90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color:white;
}
.collection{
    font-size: 32px;
    text-decoration: none;
    color:white;
    margin:40px;
    display: inline-block;
    border:2px solid white;
    padding:10px;
    align-self: flex-end;
    order: 2;
    position:relative;
    right:150px;
}
.collection:hover{
    background-color:darkgreen;
}
.troll{
    order: 1;
    align-self: center;
    overflow-wrap: break-word;
    inline-size: 300px;
    font-size: 20px;
    position:relative;
    left:200px;
}


@media (max-width:768px){
    .background-img{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:    "jacket1"
                                "jacket2"
                                "jacket3"
                                "jacket4"
                                "jacket5"
                                "jacket6"
                                "jacket7";
    }
    section{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "jacket1_section"
                                "size_item"
                                "h1_section"
                                "paragraph_section"
                                "button_section";
    }
    .size{
        display:flex;
        justify-content: space-evenly;
        width:50%;
        grid-area: size_item;
    }
    .size_item{
        font-size: 32px;
        background-color: darkgreen;
        width:10%;
        padding:15px;
        position:relative;
        left:120px;
        top:40px;
        height:10%;
        text-align: center;
        border-radius: 10%;
        color:white;
    }
    .paragraph_section{
        font-size: 32px;
        position:relative;
        bottom:400px;
        grid-area: paragraph_section;
    
    }
    .h1_section{
        font-size: 42px;
        position:relative;
        bottom:50px;
        grid-area: h1_section;
    }
    .button_section{
        font-size: 32px;
        background-color: orange;
        color:white;
        position:relative;
        bottom:500px;
        left:100px;
        width:300px;
        height:100px;
        border-radius: 10%;
        grid-area: button_section;
        border:0px;
    }
    ul{
        font-size: 10px;
        display:flex;
        grid-area: navigation;
        justify-content: space-around;
        margin-top: 20px;
        text-decoration: none;
    }
    li {
        list-style: none;
        margin-left: 1rem;
    }
    .buy_box{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "input_box"
                                "jacket_buy" 
                                "input_button";
    }
    .buy_button{
        display:flex;
        background-color: orange;
        border:0px;
        font-size: 32px;
        width:300px;
        position:relative;
        left: 100px;
        height:100px;
        border-radius: 10%;
        justify-content: center;
        align-items: center;
    }
    .input_box{
        display:flex;
        flex-direction: column;
        width:80%;
        margin:30px;
        grid-area: input_box;
    }
    .buy_success_paragraph{
        font-size: 32px;
        overflow-wrap: break-word;
        inline-size: 300px;
        margin-left: 80px;
        grid-area: buy_success_paragraph;
    }
    .boxed_in{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "buy_success_image" 
                            "buy_success_paragraph";
    
    }
    main{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px;
        grid-template-areas: "logo"
                                "navigation"
                                "banner";
    }
    ul{
        display:flex;
        grid-area: navigation;
        justify-content: space-around;
        position:relative;
        margin-top: 20px;
        text-decoration: none;
    }
    .logo{
        width:500px;
        margin-left: 20px;
        grid-area: logo;
    }
    .paragraph{
        grid-area: paragraph;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        overflow-wrap: break-word;
        inline-size: 400px;

    }
    .h1_nav{
        color:white;
        grid-area: banner;
        display:flex;
        height:100px;
        background-color: darkgreen;
        justify-content: center;
        align-items: center;
    }
    
}